<p>componente-basico!</p>

<div class="row">
    <div class="col-md-12">
        <form (ngSubmit)="salvar()" [formGroup]="form" novalidate>
            <div>
                <label>Id: </label>
                <input type="number" class="form-control" id="id" formControlName="id" required />
                <div
                    class="alert alert-danger">
                    Id é obrigatório
                </div>
            </div>
            <div>
                <label>Observação: </label>
                <input type="text" class="form-control" formControlName="descricao" />
            </div>
            <br>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary" id="btn-salvar">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</div>